@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: #15011B;
}

h1 {
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 5em
}

canvas#ghost {
    position: fixed;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 10000;
    pointer-events: none;
}

.page {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    font-size: 4vw;
    text-shadow: 0 0 5px #000000;
}

.lil-gui {
    --width: 300px;
    max-width: 90%;
    --widget-height: 20px;
    font-size: 15px;
    --input-font-size: 15px;
    --padding: 10px;
    --spacing: 10px;
    --slider-knob-width: 5px;
    --background-color: rgba(5, 0, 15, .8);
    --widget-color: rgba(255, 255, 255, .3);
    --focus-color: rgba(255, 255, 255, .4);
    --hover-color: rgba(255, 255, 255, .5);
    --font-family: monospace;
    z-index: 1;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, 500px);
  grid-auto-rows: 500px;
  width: 1500px;
  margin: auto;
}

.gallery-big-image {
  grid-column: span 2;
  grid-row: span 2;
  padding: 25px 25px 25px 25px;
}

.gallery-small-img {
  grid-column: span 1;
  grid-row: span 1;
  padding: 25px 25px 25px 25px;
}

@media (max-width: 1500px) {
  .gallery-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 500px);
    grid-auto-rows: 500px;
    width: 1000px;
  }
}

@media (max-width: 1000px) {
  .gallery-container {
    display: block;
    grid-template-columns: repeat(500px);
    grid-auto-rows: 500px;
    width: 90%;
  }
}